<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants>
	</grants>
	<actions>
		<!-- 관리자 액션 -->
		<action name="dispJoonggotradeAdminConfig" type="view" menu_name="joonggotrade" admin_index="true" />
		<action name="procJoonggotradeAdminInsertConfig" type="controller" />
		<!-- 일반 액션 -->
		<action name="dispJoonggotradeIndex" type="view" index="true" />
		<action name="procJoonggotradeChangeStatus" type="controller" standalone="true" method="GET|POST" />
		<action name="procJoonggotradePeerEvaluation" type="controller" standalone="true" method="GET|POST" />
	</actions>
	<menus>
		<menu name="joonggotrade" type="all">
			<title xml:lang="ko">중고거래 모듈</title>
		</menu>
	</menus>
</module>
